.navbar
  display: flex
  align-items: center
  &__logo
    margin-right: 71px
  &-block
    &__link
      color: $primary
      text-decoration: none
      font-size: 16px
      line-height: 150%
      +roboto
      margin-right: 15px
      &:last-child
        margin-right: 0

.hero
  &-title    
    margin-top: 78px
    font-size: 40px
    line-height: 100%
   
    +pNBlack
  &-subtitle
    margin-top: 5px
    margin-bottom: 25px
    font-size: 64px
    line-height: 78px 
  
    +pNBlack
  &-text
    margin-bottom: 25px
    max-width: 572px
    font-size: 18px
    line-height: 150%
    --animate-delay: 1.2s
    color: #AFAFAF
    +roboto
  &-premier
    margin-bottom: 5px
    font-size: 18px
    line-height: 150%
   
    color: #B02000
    +roboto
  &-date
    margin-bottom: 71px    
    font-size: 24px
    line-height: 150%
  
    +roboto
  &-button
    position: relative
    border: none
    text-transform: uppercase
    text-decoration: none
    cursor: pointer
    padding: 25px 87px 25px 34px
    --animate-delay: 2.1s
    color: $primary
    background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%) 
    border-radius: 300px
    &:hover
      cursor: pointer
    &::after
      content: ''
      position: absolute
      background: $primary url('../img/Polygon 1.svg') center 13px  no-repeat
      width: 66px
      height: 66px
      border-radius: 50%
      display: block
      top: 1px
      right: 0
      z-index: 5
    &::before
      content: ''
      position: absolute
      background-color: rgba(255, 255, 255, 0.3)
      display: block
      width: 82px
      height: 82px
      border-radius: 50%
      top: -7px
      right: -8px
      z-index: 3



